[[source]]
# comment
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rstcheck_core = {path = ".", editable = true}

[dev-packages]
types-docutils = ">=0.18, <0.21"
pre-commit = ">=2.17"
tox = ">=3.15"
my-flake8-plugins = { git = "https://github.com/cielquan/my-flake8-plugins.git", ref = "v1.5.0", extras= ["flakeheaven"] }
pylint = ">=2.12"
mypy = ">=0.931"
pytest = ">=6.0"
pytest-mock = ">=3.7"
sphinx = ">=4.0"
sphinx-rtd-theme = "*"
rstcheck-core = {file = ".", editable = true}

[docs-packages]
sphinx-autobuild = "2021.3.14"
m2r2 = ">=0.3.2"
sphinx-rtd-theme = ">1.2"
sphinx-autodoc-typehints = ">=1.15"
sphinxcontrib-apidoc = ">=0.3"
sphinxcontrib-spelling = ">=7.3"

[testing-packages]
pytest = ">=7.2"
pytest-cov = ">=3.0"
coverage = { version = ">=6.0", extras = ["toml"] }
coverage-conditional-plugin = ">=0.5"
pytest-sugar = ">=0.9.5"
pytest-randomly = ">=3.0"
pytest-mock = ">=3.7"

[requires]
python_version = "3.8"

[scripts]
printspam = "python -c \"print('I am a silly example, no one would need to do this')\""
